<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <h1>創新學習，引領進化</h1>
          <p>
            在這裡，課程像自然演化一樣，經過篩選後自動脫穎而出，助你與夥伴一起升級進化
          </p>
          <div class="d-flex">
            <a class="btn-get-started">開始學習</a>
            <a href="https://www.youtube.com/watch?v=W6aDo4mcOE0"
              class="glightbox btn-watch-video d-flex align-items-center"><i
                class="bi bi-play-circle"></i><span>觀看介紹影片</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/img/indexImg.png" class="img-fluid animated" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- Featured Services Section -->
  <!-- <section id="featured-services" class="featured-services section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity icon"></i></div>
            <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
            <p>
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi
            </p>
          </div>
        </div> -->
  <!-- End Service Item -->

  <!-- <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles icon"></i>
            </div>
            <h4><a href="" class="stretched-link">Sed ut perspici</a></h4>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore
            </p>
          </div>
        </div> -->
  <!-- End Service Item -->

  <!-- <div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="" class="stretched-link">Magni Dolores</a></h4>
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia
            </p>
          </div>
        </div> -->
  <!-- End Service Item -->
  <!-- </div>
    </div>
  </section> -->
  <!-- /Featured Services Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>About Us<br /></span>
      <h2>About Us</h2>
      <p>我們致力於打造一個讓企業與員工共同成長的線上學習生態系統</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about2.png" class="img-fluid" alt="" />
          <a href="https://www.youtube.com/watch?v=W6aDo4mcOE0" class="glightbox pulsating-play-btn"></a>
        </div>
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
          <h3>我們如何推動企業與個人共同演化</h3>
          <p class="fst-italic">
            Evolution
            平台整合了最完整的課程管理、考試機制與企業授權功能，讓學習不再只是個人行為，而是團隊文化的一部分。
          </p>
          <ul>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>企業可一鍵簽約，並由平台自動建立專屬管理者帳號</span>
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>員工無需自行註冊，管理者幫你設定好初始密碼，Email驗證一鍵啟動</span>
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>完整的線上考試與成績報表，幫助 HR 隨時追蹤學習成果</span>
            </li>
            <li>
              <i class="bi bi-check2-all"></i>
              <span>支援課程購買與授權，一次購買，全公司員工皆可使用</span>
            </li>
          </ul>
          <p>
            我們相信「學習進化」不僅是一個人、而是一個組織共同向前的動能。從課程上架、購物車管理、到企業授權，一站式滿足各種學習需求，讓您專注於傳遞知識、深化技能，而不用擔心後端流程繁瑣。
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" [attr.data-purecounter-end]="companyCount" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>簽約企業</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" [attr.data-purecounter-end]="userCount" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>註冊員工</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" [attr.data-purecounter-end]="courseCount" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>上架課程</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" [attr.data-purecounter-end]="quizCount" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>線上考試已完成</p>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>精選課程</span>
      <h2>精選課程</h2>
      <p>
        我們精選多門優質課程，涵蓋實用技能與前沿知識，助您深入學習、快速成長，開啟職涯新篇章。
      </p>
    </div>

    <div class="container">
      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <!-- 篩選標籤 -->
        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" [class.filter-active]="activeFilter === '*'" (click)="filter('*')">
            All
          </li>
          <li *ngFor="let tag of tagList" [attr.data-filter]="'.filter-' + tag.tagId"
            [class.filter-active]="activeFilter === '.filter-' + tag.tagId" (click)="filter('.filter-' + tag.tagId)">
            {{ tag.tagName }}
          </li>
        </ul>

        <!-- 課程清單 -->
        <div class="row gy-4 isotope-container" #isotopeContainer data-aos="fade-up" data-aos-delay="200">
          <div *ngFor="let course of courses; trackBy: trackByCourse" [ngClass]="getCourseClasses(course)"
            (click)="goToDetail(course.courseId)">
            <app-featured-courses [course]="course"></app-featured-courses>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- /Portfolio Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>客戶評論</span>
      <h2>客戶評論</h2>
      <p>
        在這裡，我們分享來自企業與員工的真實聲音，見證他們如何透過 Evolution
        平台成長與改變。
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper init-swiper" data-speed="600" data-delay="5000"
        data-breakpoints='{ "320": { "slidesPerView": 1, "spaceBetween": 40 }, "1200": { "slidesPerView": 3, "spaceBetween": 40 } }'>
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
              },
              "1200": {
                "slidesPerView": 3,
                "spaceBetween": 20
              }
            }
          }
        </script>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Evolution
                  學習平台提供豐富的教學資源與互動功能，讓學生與同事都能在其中獲得最佳的學習體驗。透過團隊協作與數位化教學，我們的學員能更快速掌握知識，也能激發創新思維與成長動力。</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <img src="assets/img/teacher.png" class="testimonial-img" alt="" />
              <h3>葉仲仁</h3>
              <h4>老師 &amp; 員工</h4>
            </div>
          </div>
          <!-- End testimonial item -->
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- /Testimonials Section -->

  <!-- Call To Action Section -->
  <section id="call-to-action" class="call-to-action section accent-background">
    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>馬上啟動您的學習演化之路</h3>
            <p>
              Evolution
              平台幫助企業快速上架課程並授權員工使用，讓學習與成長成為組織文化的一部分。立即加入，開啟您專屬的學習生態系統！
            </p>
            <a class="cta-btn" routerLink="/login">進入冒險</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Call To Action Section -->

  <!-- Team Section -->
  <section id="team" class="team section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>團隊介紹</span>
      <h2>團隊介紹</h2>
      <p>這裡展示 Evolution 平台背後的核心推手</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-5 justify-content-center">
        <!-- End Team Member -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="pic">
              <img src="assets/img/eason.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Eason Liu</h4>
              <span>Project Leader</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="pic">
              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Justin</h4>
              <span>Technical Team Leader</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Team Member -->
      </div>
    </div>
  </section>
  <!-- /Team Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span>聯絡我們</span>
      <h2>聯絡我們</h2>
      <p>若有任何問題或合作需求，歡迎隨時與我們聯繫</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-5">
          <div class="info-wrap">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>106 台北市大安區復興南路一段 390 號 2 樓</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+886 2 1234 5678</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>evolution&#64;gmail.com</p>
              </div>
            </div>
            <!-- End Info Item -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.00474676118!2d121.54083797607679!3d25.033912977816335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd379a5ec97%3A0xedc006d25a9e35df!2z6LOH5bGV5ZyL6Zqb6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1749392942619!5m2!1szh-TW!2stw"
              frameborder="0" style="border: 0; width: 100%; height: 270px" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

        <div class="col-lg-7">
          <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-md-6">
                <label for="name-field" class="pb-2">Your Name</label>
                <input type="text" name="name" id="name-field" class="form-control" required="" />
              </div>

              <div class="col-md-6">
                <label for="email-field" class="pb-2">Your Email</label>
                <input type="email" class="form-control" name="email" id="email-field" required="" />
              </div>

              <div class="col-md-12">
                <label for="subject-field" class="pb-2">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject-field" required="" />
              </div>

              <div class="col-md-12">
                <label for="message-field" class="pb-2">Message</label>
                <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>

                <button type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- /Contact Section -->
</main>