<div class="card mb-4">
  <h5 class="card-header">Tools Box 工具列</h5>
  <div class="card-body">
    <div class="row gx-3 gy-2 align-items-center">
      <div class="col-md-3">
        <label class="form-label" for="Search">Search 搜尋</label>
        <input id="Search" type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchKeyword">
      </div>

      <div class="col-md-3">
        <label class="form-label" for="selectTypeOpt">Hash Tag 標籤</label>
        <select id="selectTypeOpt" class="form-select" [(ngModel)]="selectedHashTag">
          <option [ngValue]="null">全部</option>
          <option *ngFor="let tag of FilteredHashTags" [ngValue]="tag.hashTagId">
            {{ tag.hashTagName }}
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label class="form-label" for="selectPlacement">Public 公開與否</label>
        <select class="form-select" id="selectPlacement" [(ngModel)]="selectedPublicStatus">
          <option [ngValue]="null">全部</option>
          <option [ngValue]="true">公開</option>
          <option [ngValue]="false">非公開</option>
        </select>
      </div>

      <div class="col-md-3">
        <label class="form-label" for="showToastPlacement">&nbsp;</label>
        <button id="showToastPlacement" class="btn btn-primary d-block" (click)="filterCourses()">搜尋</button>
      </div>
    </div>
  </div>
</div>

<div class="card ">
  <h5 class="card-header">課程總覽</h5>
  <div class="table-responsive text-nowrap">
    <p-table [value]="FilteredCourseList" [paginator]="true" [rows]="10" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>課程名稱</th>
          <th>課程是否公開</th>
          <th>操作</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-course>
        <tr>
          <td>
            <i class="fab fa-angular fa-lg text-danger me-3"></i>
            <strong>{{ course.courseTitle }}</strong>
          </td>

          <td>
            <span class="badge me-1" [ngClass]="course.isPublic ? 'bg-label-primary' : 'bg-label-secondary'">
              {{ course.isPublic ? '公開' : '非公開' }}
            </span>

          </td>

          <td>
            <div class="dropdown">
              <button class="btn btn-sm btn-primary" (click)="openEditDialog(course.courseId)">
                <i class="bx bx-edit-alt me-1"></i> 修改
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>