@import url("../../../assets/FrontSystem/vendor/bootstrap/css/bootstrap.min.css");
@import url("../../../assets/FrontSystem/vendor/bootstrap-icons/bootstrap-icons.min.css");
@import url("../../../assets/FrontSystem/vendor/aos/aos.css");
@import url("../../../assets/FrontSystem/vendor/glightbox/css/glightbox.min.css");
@import url("../../../assets/FrontSystem/vendor/swiper/swiper-bundle.min.css");
@import url("../../../assets/FrontSystem/css/main.css");
@import url("node_modules/primeng/resources/themes/lara-light-blue/theme.css");
@import url("node_modules/primeng/resources/primeng.min.css");
@import "primeicons/primeicons.css";
/*
@import url("../../../assets/BackSystem/boxicons/boxicons.css");
@import url("../../../assets/BackSystem/core/core.css");
@media (min-width: 1200px) {
  .navmenu .dropdown ul a {
    justify-content: start;
  }
} */

/* @import url("../../../assets/BackSystem/core/theme-default.css"); */
/* @import url("../../../assets/BackSystem/demo.css"); */
/* @import url("../../../assets/BackSystem/libs/perfect-scrollbar/perfect-scrollbar.css"); */
/* @import url("../../../assets/BackSystem/libs/apex-charts/apex-charts.css"); */
/* ,
              // "src/assets/FrontSystem/vendor/bootstrap/css/bootstrap.min.css",
              // "src/assets/FrontSystem/vendor/bootstrap-icons/bootstrap-icons.min.css",
              // "src/assets/FrontSystem/vendor/aos/aos.css",
              // "src/assets/FrontSystem/vendor/glightbox/css/glightbox.min.css",
              // "src/assets/FrontSystem/vendor/swiper/swiper-bundle.min.css",
              // "src/assets/FrontSystem/css/main.css" */

.p-overlay-badge .p-badge {
  /* 舉例：上移 -4px、右移 -8px */
  top: 30px !important;
  right: 17px !important;
}
