<div class="container-xxl flex-grow-1 container-p-y">
  <!-- 步驟條 -->
  <div class="card mb-md-3 p-md-3">
    <p-steps [model]="steps" [activeIndex]="currentStep" [readonly]="true" class="mb-4"></p-steps>
  </div>
  <!-- 表單內容卡片 -->
  <div class="card p-4">
    <form *ngIf="steps[currentStep]?.label === '建立課程'" [formGroup]="courseForm">
      <div class="mb-3">
        <label class="form-label">課程標題</label>
        <input type="text" class="form-control" formControlName="CourseTitle" />
      </div>

      <div class="mb-3">
        <label class="form-label">課程描述</label>
        <textarea class="form-control" formControlName="CourseDes"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label d-block">是否公開</label>
        <div class="form-check form-check-inline">
          <p-radioButton name="IsPublic" value="true" inputId="public-yes" formControlName="IsPublic"></p-radioButton>
          <label for="public-yes" class="form-check-label ms-1">是</label>
        </div>
        <div class="form-check form-check-inline">
          <p-radioButton name="IsPublic" value="false" inputId="public-no" formControlName="IsPublic"></p-radioButton>
          <label for="public-no" class="form-check-label ms-1">否</label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">課程價格</label>
        <div class="input-group">
          <span class="input-group-text">TWD$</span>
          <input type="number" class="form-control" formControlName="Price" />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">課程封面</label>
        <input type="file" class="form-control" (change)="onCoverSelected($event)" accept=".jpg,.jpeg,.png"
          [disabled]="lockButton" />
        <ng-container *ngIf="originalCoverImageUrl$ | async as originalCover">
          <div *ngIf="originalCover">
            已選擇：{{ originalCover }}
          </div>
        </ng-container>
        <img [src]="coverPreviewUrl" class="img-thumbnail mt-2" style="max-width: 300px;" *ngIf="coverPreviewUrl" />
      </div>
    </form>
    <!-- Step: 新增章節 -->
    <form *ngIf="steps[currentStep]?.label === '新增章節'" [formGroup]="chapterForm">
      <div class="mb-3">
        <label class="form-label">章節標題</label>
        <input type="text" class="form-control" formControlName="ChapterTitle" />
      </div>

      <div class="mb-3">
        <label class="form-label">章節描述</label>
        <textarea class="form-control" formControlName="ChapterDes"></textarea>
      </div>
    </form>
    <!-- Step: 新增影片 -->
    <form *ngIf="steps[currentStep]?.label === '新增影片'" [formGroup]="videoForm">
      <div class="mb-3">
        <label class="form-label">影片標題</label>
        <input type="text" class="form-control" formControlName="Title" />
      </div>

      <div class="mb-3">
        <label class="form-label">上傳影片</label>
        <input type="file" #videoInput class="form-control" (change)="onVideoSelected($event)" #videofile
          [disabled]="lockButton" />
        <div *ngIf="selectedVideoFileName" class="mt-1 text-muted">
          已選擇：{{ selectedVideoFileName }}
        </div>
      </div>
    </form>
    <!-- Step: 確認建立課程 -->
    <p-tabView *ngIf="steps[currentStep]?.label === '確認建立課程'">
      <p-tabPanel header="課程細節">
        <p-panel [header]="FinalCheck.courseTitle">
          <p>{{FinalCheck.courseDes}}</p>
          <div class="input-group">
            <span class="input-group-text">是否公開課程:</span>
            <input type="text" disabled class="form-control" [value]="FinalCheck.isPublic? '公開':'不公開'" />
          </div>
          <div class="input-group">
            <span class="input-group-text">課程價格: TWD$</span>
            <input type="number" disabled class="form-control" [value]="FinalCheck.price" />
          </div>
          <img [src]='"https://localhost:7274/images/"+FinalCheck.coverImagePath' class="img-thumbnail mt-2"
            style="max-width: 300px;">
          <form [formGroup]="CourseFinalGroup">
            <!-- 部門選擇 -->
            <div class="mb-3 ">
              <label for="departments">請選擇課程權限: </label> &nbsp;&nbsp;
              <p-multiSelect inputId="departments" [options]="departmentOptions" optionLabel="depName"
                optionValue="depId" formControlName="DepFormControl" placeholder="請選擇部門" display="chip"
                panelStyleClass="custom-multiselect-panel" class="custom-chip-limit">
              </p-multiSelect>
              <div
                *ngIf="CourseFinalGroup.get('DepFormControl')?.invalid && CourseFinalGroup.get('DepFormControl')?.touched"
                class="text-danger">
                至少選擇一個部門
              </div>
            </div>
            <!-- Hashtag 選擇 -->
            <div class="mb-3">
              <label for="hashtags">請選擇課程標籤: </label>&nbsp;&nbsp;&nbsp;
              <p-multiSelect inputId="hashtags" [options]="hashtagOptions" optionLabel="hashTagName"
                optionValue="hashTagId" formControlName="HasTagFormControl" placeholder="請選擇 Hashtag" display="chip"
                panelStyleClass="custom-multiselect-panel" class="custom-chip-limit">
              </p-multiSelect>
              <div
                *ngIf="CourseFinalGroup.get('HasTagFormControl')?.invalid && CourseFinalGroup.get('HasTagFormControl')?.touched"
                class="text-danger">
                至少選擇一個 Hashtag
              </div>
            </div>
          </form>
        </p-panel>
      </p-tabPanel>
      <p-tabPanel [header]="'章節'+(i+1)" *ngFor="let chapter of FinalCheck.chapterWithVideos;let i=index">
        <p-panel [header]="chapter.chapterTitle">
          <p>{{chapter.chapterDes}}</p>
          <p-accordion *ngIf="chapter.videos.length>0">
            <p-accordionTab [header]="video.videoTitle" *ngFor="let video of chapter.videos">
              <video width="100%" controls>
                <source [src]="'https://localhost:7274/videos/' + video.videoFile" type="video/mp4" />
                無法播放影片，請確認影片格式是否為 mp4。
              </video>
            </p-accordionTab>
          </p-accordion>
        </p-panel>
      </p-tabPanel>
    </p-tabView>
    <!-- 按鈕控制區 -->


    <div class="mt-4 d-flex justify-content-between">
      <!-- 上一步 -->
      <div>
        <button *ngIf="!showEditButton&&currentStep>0" [disabled]="lockButton" class="btn btn-secondary"
          (click)="onPrev()">上一步</button>
      </div>
      <div class="d-flex gap-2">
        <button *ngIf="showEditButton" class="btn btn-warning" (click)="EditSteps()" [disabled]="lockButton">
          儲存資料修改
        </button>
        <button *ngIf="currentStep>1&&currentStep===steps.length-1&&steps[currentStep].label!=='確認建立課程'"
          class="btn btn-danger" (click)="removeLastStep()" [disabled]="lockButton">
          刪除此步驟
        </button>
        <!-- 步驟過程中的下一步 -->
        <button *ngIf="!showEditButton&&currentStep<steps.length-1&&steps[currentStep].label!=='確認建立課程'"
          class="btn btn-primary" (click)="onNext()" [disabled]="lockButton">
          下一步
        </button>

        <!-- 只有在最後一步，才顯示 addNewSteps -->
        <button [disabled]="lockButton"
          *ngIf="!showEditButton&&currentStep === steps.length - 1 &&steps[currentStep].label!=='確認建立課程'"
          class="btn btn-primary" (click)="addNewSteps()">
          下一步
        </button>

        <button *ngIf="steps[currentStep]?.label === '確認建立課程'" class="btn btn-success" (click)="finalizeCourse()">
          確認建立
        </button>

      </div>
    </div>
    <!-- 顯示上傳進度 -->
    <p-progressBar *ngIf="isUploading" [value]="progressPercent"></p-progressBar>
    <!-- PrimeNG ConfirmDialog & Toast -->
    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>
  </div>