::ng-deep .custom-chip-limit .p-multiselect-label {
  max-width: 300px; /* 根據需求調整寬度 */
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

::ng-deep .custom-chip-limit .p-multiselect-token {
  display: inline-block;
  margin-right: 4px;
}
::ng-deep .p-multiselect-panel .p-multiselect-items {
  padding-left: 0 !important;
}
::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background: #d3fae7;
  color: #000;
}
::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #d3fae7 !important;
}
::ng-deep .p-progressbar .p-progressbar-label {
  color: #34c67f !important;
}
