<div class="container">
  <p-tabView [(activeIndex)]="activeTabIndex">
    <!-- 上課內容分頁 -->
    <p-tabPanel header="上課內容" leftIcon="pi pi-book">
      <!-- 步驟條 -->
      <p-steps [model]="steps" [activeIndex]="currentStepIndex" [readonly]="true" class="mb-4"></p-steps>

      <!-- 步驟內容 -->
      <div class="lesson-content p-4 border rounded">
        <ng-container *ngIf="currentStep?.type === 'chapter'">
          <h4>{{ currentStep.data.chapterTitle }}</h4>
          <p>{{ currentStep.data.chapterDes }}</p>
        </ng-container>

        <ng-container *ngIf="currentStep?.type === 'video'">
          <h5>{{ currentStep.data.videoTitle }}</h5>
          <video width="100%" height="400" controls [src]="currentStep.data.videoFile"></video>
        </ng-container>
      </div>

      <!-- 控制按鈕 -->
      <div class="d-flex justify-content-between mt-3">
        <button pButton label="上一步" icon="pi pi-chevron-left" (click)="prevStep()"
          [disabled]="currentStepIndex === 0"></button>

        <button *ngIf="!isLastStep()" pButton label="下一步" icon="pi pi-chevron-right" iconPos="right"
          (click)="nextStep()"></button>

        <button *ngIf="isLastStep()" pButton label="前往測驗" icon="pi pi-check" class="p-button-success"
          (click)="goToQuizPage()"></button>
      </div>
    </p-tabPanel>

    <!-- 課程測驗分頁 -->
    <p-tabPanel header="課程測驗" leftIcon="pi pi-file-edit">
      <div class="container mt-4">
        <!-- 搜尋欄 -->
        <div class="d-flex mb-3">
          <input type="text" pInputText [(ngModel)]="searchValue" placeholder="搜尋測驗名稱" class="form-control me-2" />
        </div>

        <!-- 資料表格 -->
        <p-table [value]="filteredQuizzes" [paginator]="true" [rows]="10" sortMode="single" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th class="fs-5">測驗名稱</th>
              <th class="fs-5">目標分數</th>
              <th class="fs-5">得分</th>
              <th pSortableColumn="status" class="fs-5">
                通過狀態
                <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th class="fs-5">操作</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-quiz>
            <tr>
              <td class="fs-5">{{ quiz.name }}</td>
              <td class="fs-5">60</td>
              <td [ngClass]="getScoreColor(quiz.score)" class="fs-5">{{ quiz.score }}</td>
              <td class="fs-5">
                <span class="badge" [ngClass]="{
                  'pass-bg-color': quiz.status === '通過',
                  'notpass-bg-color': quiz.status === '不通過'
                }">
                  {{ quiz.status }}
                </span>
              </td>
              <td>
                <button pButton type="button" label="去測驗" icon="pi pi-arrow-right" (click)="goToQuiz(quiz)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>