<div class="   flex justify-content-center container-md">
  <p-card class="row">
    <div class="col-12 md:col-4 mb-md-5">
      <p-avatar ariaLabel="User" icon="pi pi-user" styleClass="mr-2" size="xlarge"
        [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle">
      </p-avatar>
      <strong class="text-capitalize fs-3 ms-3">User</strong>
    </div>
    <span class="p-fluid">
      <p-autoComplete placeholder="Search..."></p-autoComplete>
    </span>
    <hr>
    <div class="course-list">
      <div class="card custom-card ">
        <a routerLink="/home/learning">
          <img class="card-img-top" src="assets/img/EvolutionLogo.png">

          <div class="card-body">
            <h5 class="course-title">Docker 容器技術</h5>
            <p class="course-company">發布單位：DevOps 學院</p>
            <p class="course-description">學會用 Docker 封裝與部署應用。</p>
            <p class="course-price">NT$ 2,100</p>
          </div>
        </a>
      </div>
      <div class="card custom-card ">
        <a routerLink="/home/learning">
          <img class="card-img-top" src="assets/img/EvolutionLogo.png">

          <div class="card-body">
            <h5 class="course-title">Docker 容器技術</h5>
            <p class="course-company">發布單位：DevOps 學院</p>
            <p class="course-description">學會用 Docker 封裝與部署應用。</p>
            <p class="course-price">NT$ 2,100</p>
          </div>
        </a>
      </div>
      <div class="card custom-card ">
        <a routerLink="/home/learning">
          <img class="card-img-top" src="assets/img/EvolutionLogo.png">

          <div class="card-body">
            <h5 class="course-title">Docker 容器技術</h5>
            <p class="course-company">發布單位：DevOps 學院</p>
            <p class="course-description">學會用 Docker 封裝與部署應用。</p>
            <p class="course-price">NT$ 2,100</p>
          </div>
        </a>
      </div>
      <div class="card custom-card ">
        <a routerLink="/home/learning">
          <img class="card-img-top" src="assets/img/EvolutionLogo.png">

          <div class="card-body">
            <h5 class="course-title">Docker 容器技術</h5>
            <p class="course-company">發布單位：DevOps 學院</p>
            <p class="course-description">學會用 Docker 封裝與部署應用。</p>
            <p class="course-price">NT$ 2,100</p>
          </div>
        </a>
      </div>
      <div class="card custom-card ">
        <a routerLink="/home/learning">
          <img class="card-img-top" src="assets/img/EvolutionLogo.png">

          <div class="card-body">
            <h5 class="course-title">Docker 容器技術</h5>
            <p class="course-company">發布單位：DevOps 學院</p>
            <p class="course-description">學會用 Docker 封裝與部署應用。</p>
            <p class="course-price">NT$ 2,100</p>
          </div>
        </a>
      </div>
    </div>


  </p-card>
</div>
